<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .detail-bg {
            background: white;
            padding: 15px;
            margin-top: 10px;
        }
        .frame {
            width: 600px;
            height: 800px;
        }
        .frame > img {
            width: 100%;
        }
    </style>
</head>
<body class="grey-bg">
<%- include("nav.ejs")%>
<div class="detail-bg">
    <h4><%= result.title%></h4>
    <p><%= result.content%></p>
    <% if (result.image && result.image.trim() !== "") { %>
        <div class="frame">
            <img src="<%= result.image %>" alt="이미지">
        </div>
    <% } %>
</div>
</body>
</html>