<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }
        nav {
            background-color: #f8f8f8;
            border-bottom: 1px solid #ddd;
            width: 96%;
            display: flex;
            align-items: center;
            padding: 10px 20px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }
        nav a {
            text-decoration: none;
            color: #333;
            padding: 10px 15px;
            margin-right: 10px;
            border-radius: 4px;
            transition: background-color 0.2s ease;
        }
        nav a:hover {
            background-color: #ddd;
        }
        nav .search-box {
            margin-left: auto;
            display: flex;
            align-items: center;
        }
        nav input[type="text"] {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none;
            margin-right: 5px;
        }
        nav button {
            padding: 8px 15px;
            border: none;
            background-color: #333;
            color: white;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.2s ease;
        }
        nav button:hover {
            background-color: #555;
        }
    </style>
</head>
<body>
<nav>
    <a href="/">NodeJS Study</a>
    <a href="/board/list">게시판</a>
    <a href="/auth/register">회원가입</a>
    <a href="/auth/login">로그인</a>
    <div class="search-box">
        <input class="search" type="text" placeholder="검색어를 입력하세요">
        <button class="search-send">검색</button>
    </div>
</nav>

<script>
    document.querySelector('.search-send').addEventListener('click', () => {
        const inputVal = document.querySelector('.search').value;
        console.log(inputVal)
        location.href = '/board/search?val=' + inputVal
    })
</script>
</body>
</html>